PORT=5000
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.pjtfcdkpbrsglisehbja.supabase.co:5432/postgres
JWT_SECRET=your_super_secret_jwt_key_change_this
CLIENT_URL=http://localhost:5173
NEXT_PUBLIC_SUPABASE_URL=https://pjtfcdkpbrsglisehbja.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LxWEJCv_2WG94ZXZ6BwNAw_dHv3g2ow